*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner_index{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(C:\\Users\\dell\\Desktop\\Project\\image1.jpg);
    background-size: cover;
    background-position: center;
}
.banner_contact{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(C:\\Users\\dell\\Desktop\\Project\\gate.jpg);
    background-size: cover;
    background-position: center;
}
.banner_home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(C:\\Users\\dell\\Desktop\\Project\\tirupati.jpg);
    background-size: cover;
    background-position: center;
}
.banner_about{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(C:\\Users\\dell\\Desktop\\Project\\golden.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li:hover{
    transform: scale(1.3);
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
#btn_ind1{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
@keyframes animate_city {
    0%{
        left: -200px;
        opacity: 0;
    }
    100%{
        left: 200px;
        opacity: 1;
    }
}
#input_city{
    left: 120px;
    padding: 15px;
    width: 300px;
    height: 50px;
    font-size: medium;
    font-weight: 600;
    background-color: #fff;
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    border: none;
    margin: 5px;
}
#btn_city{
    left: 5px;
    width: 80px;
    height: 50px;
    font-weight: 600;
    border-radius: 25px;
}
#btn_city:hover{
    transform: scale(1.1);
}
.row{
    width:38%;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}